<nav>
  <ul>
    <li class="nav-item">
      <img class="vf-logo" alt="VF Logo" src="https://res.cloudinary.com/tecninja-awesome/image/upload/v1538786792/voltify-ng/vf-logo-full.png">
    </li>
    <li>
      <a [routerLink]="['browse']" routerLinkActive="active">Browse</a>
    </li>
    <li>
      <a [routerLink]="['account']" routerLinkActive="active">Account</a>
    </li>
    <li>
      <div class="add-playlist" (click)="openModal()">
        + New Playlist
      </div>
    </li>
  </ul>
</nav>
<vf-new-playlist
[show]="showModal"
(onCloseModal)="closeModal()"
>
</vf-new-playlist>