<div class="panel">
  <div class="album">
    <img src="https://images.pexels.com/photos/1295138/pexels-photo-1295138.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="Album image" class="album-image">
    <div class="album-info">
      <div class="album-title">Gold: Greatest Hits</div>
      <div class="album-artist">Tecninja.io</div>
    </div>
  </div>
  <div class="controls">
    <div class="play-box">
      <div class="play-btns">
        <button class="button">
          <span class="icon-prev"></span>
        </button>
        <button class="button icon-big opacity-60" (click)="togglePlay()">
          <span [ngClass]="isPlaying ? 'icon-pause' : 'icon-play'"></span>
        </button>
        <button class="button">
          <span class="icon-next"></span>
        </button>
      </div>
      <div class="timeline">
        <div class="current-time">{{ currentTime | audiotime }}</div>
        <div class="bar-box" (click)="skip($event)" (mousemove)="onMouseMove($event)">
          <div class="bar">
            <div class="bar-reproduced" [style.width]="reproduced + '%'"></div>
          </div>
        </div>
        <div class="total-time" (click)="toggleDurationFormat()">
          <div *ngIf="durationFormat === 'total'">{{ totalTime | audiotime }}</div>
          <div *ngIf="durationFormat === 'restant'">- {{ (totalTime - currentTime)  | audiotime }}</div>
        </div>
      </div>
    </div>
    <div class="vol-box">
      <div class="vol-btn">
        <span class="icon-sound"></span>
      </div>
      <div class="bar-vol" (click)="setVol($event)">
        <div class="bar-vol-total" [style.width]="vol * 100 + '%'"></div>
      </div>
    </div>
  </div>
</div>
